#red-background{
    background-color: red;
    width: 400px;
    height:250px;
    border-radius: 5%;
    position: relative;
    bottom: 10px;
}


.silver-edges{
  background-color: grey;
  height: 85px;
  width: 85px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  border: 2px solid grey;
}


#edge-1 {
    position: absolute;
    right: 0;
  }
#white-space{
  width: 230px;
  height: 190px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 85px;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}