.container{
    display: inline-block;
}

.section1{
    background-color: pink;
    width: calc(311vh - 1px);;   
    height: 100px;
    display: inline-block;
}

.section2{
    background-color: yellow;
    width: 30px;
    height: 100px;
    display: inline-block;
    margin-left: -8px;
}